modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["SDL2", "SDL2_image", "SDL2_mixer", "SDL2_ttf", "fontconfig", "freetype", "gmp", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libpng", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "portmidi", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Anti-Theft App"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Anti-Theft Server"

[[workflows.workflow]]
name = "Anti-Theft App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Anti-Theft Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python remote_server.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 46289
externalPort = 80
